window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

label {
    font-weight: bold;
}

.workspaces button {
    padding: 0;
    background-color: @theme_text_color;
    min-height: 5px;
    min-width: 5px;
    border-radius: 50%;
    margin-right: 8px;
    transition: all 0.25s ease;
}

.workspaces button.focused {
    background-color: @theme_selected_bg_color;
    border-radius: 7px;
    min-width: 19px;
    min-height: 10px;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
