@use "sass:color";

$bg_color: #{ "@theme_bg_color" };
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg_color;
    color: $fg;
    font-size: 1.1em;
    font-weight: bold;

    button {
        all: unset;
        background-color: transparent;

        &:hover label {
            background-color: color.adjust($fg, $alpha: -0.84);
            border-color: color.adjust($accent, $alpha: -0.8);
        }

        &.QuickControlBtn {
            padding: 3px 3px 3px 1px;
            border-radius: 2em;
            transition: background-color 0.3s ease;
            border: 3px solid transparent;
            margin: 0 0.4em;

            &:hover {
                border-color: black;
                background-color: $accent;
            }

            icon {
                margin-left: 6px;
            }
        }

        &:active label {
            background-color: color.adjust($fg, $alpha: -0.8)
        }
    }


    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .Workspaces .focused label {
        color: $accent;
        border-color: $accent;
    }

    .FocusedClient {
        color: $accent;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }
}
