window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

/* button:not(.focused):hover { */
/*     border-bottom: 3px solid @theme_fg_color; */
/* } */

label {
    font-weight: bold;
}

.workspaces button {
    padding: 0;
    background-color: white;
    min-height: 12px;
    min-width: 12px;
    border-radius: 50%;
    margin-right: 8px;
    transition: all 0.25s ease;
}

.workspaces button.focused {
    background-color: @theme_selected_bg_color;
    border-radius: 10px;
    min-width: 21px;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
